version: 2.1

executors:
  python-executor:
    docker:
      - image: cimg/python:3.13

jobs:
  build:
    executor: python-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - persist_to_workspace:
          root: .
          paths:
            - venv
            - app
            - tests

  lint:
    executor: python-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: List files
          command: ls -R
      - run:
          name: Lint code
          command: |
            . venv/bin/activate
            pip install flake8
            flake8 app tests

  test:
    executor: python-executor
    parallelism: 2
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run tests in parallel
          command: |
            . venv/bin/activate
            pip install pytest pytest-cov pytest-xdist
            mkdir -p test-results
            export PYTHONPATH=$(pwd)
            pytest -n auto --junitxml=test-results/results.xml --cov=app > test-results/summary.txt
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - persist_to_workspace:
          root: .
          paths:
            - test-results

  build-image:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker image
          command: |
            docker build -t $DOCKER_USERNAME/notes-app:$CIRCLE_SHA1 .
            docker tag $DOCKER_USERNAME/notes-app:$CIRCLE_SHA1 $DOCKER_USERNAME/notes-app:latest
      - run:
          name: Login to Docker Hub
          command: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
      - run:
          name: Push Docker image
          command: |
            docker push $DOCKER_USERNAME/notes-app:$CIRCLE_SHA1
            docker push $DOCKER_USERNAME/notes-app:latest

  update-k8s-manifests:
    docker:
      - image: cimg/base:stable
    steps:
      - add_ssh_keys:
          fingerprints:
            - ${SSH_KEY_FINGERPRINT}
      - checkout
      - run:
          name: Install yq
          command: |
            sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
            sudo chmod +x /usr/local/bin/yq
      - run:
          name: Update Kubernetes manifest with new image tag
          command: |
            cd k8s/base
            yq eval '.spec.template.spec.containers[0].image = env(DOCKER_USERNAME) + "/notes-app:" + env(CIRCLE_SHA1)' -i deployment.yaml
      - run:
          name: Commit and push changes
          command: |
            git config user.email "ci@circleci.com"
            git config user.name "CircleCI"
            git add k8s/base/deployment.yaml
            git commit -m "Update image tag to $CIRCLE_SHA1 [skip ci]"
            git push origin main

workflows:
  ci_cd_pipeline:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test:
          requires:
            - lint
      - build-image:
          requires:
            - test
      - update-k8s-manifests:
          requires:
            - build-image
          filters:
            branches:
              only: main