apiVersion: v1
kind: Service
metadata:
  name: notes-app-service
  labels:
    app: notes-app
spec:
  type: NodePort
  selector:
    app: notes-app
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http
